{% extends 'base.html' %}


{% block title %}Reservas{% endblock %}


{% block nav %}
  {% include 'docentes/base_docentes.html' %}
{% endblock %}


{% block content %}
  
  <br>
  <center><h1>Reservas</h1></center>
  <hr>
  <center><a href="{% url 'nueva_reserva' %}" class="btn btn-primary">+ Nueva Reserva de Equipos o Sala</a></center>
  <hr><center>
  <h4>Historial de reservas {{nombre_docente}}:</h4></center>
  <br>  
  <table>
      <tr>
        <th>Docente</th>
        <th>Recurso</th>
        <th>Fecha</th>
        <th>Observaciones</th>
      </tr>
      {% for reserva in reservas %}
        <tr>
          <td>{{ reserva.docente }}</td>
          <td>{{ reserva.recurso }}</td>
          <td>{{ reserva.fecha }}</td>
          <td>{{ reserva.observaciones }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Nada para mostrar. Pruebe aplicando filtros o creando un nuevo registro.</td>
        </tr>
      {% endfor %}
  </table>


  <nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; Primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
        {% endif %}
    
        <li class="page-item disabled">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        </li>
    
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            </li>
        {% endif %}
    </ul>
  </nav>
  
<br><br>


{% endblock %}