
    <!-- Sidebar unico para Docentes -->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home_docente' %}">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'calendario' %}">Calendario</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'calificaciones' %}">Calificaciones</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'inasistencia' %}">Inasistencias</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'reservas' %}">Reserva de Salas y Equipos</a>
           <br>
        </div>
    </div>


