{% extends "base.html" %} 
{% load widget_tweaks %}


{% block title %}Nuevo evento en el Calendario{% endblock %}


{% block nav %}
    {% include 'administracion/base_admin.html' %}
{% endblock  %}


{% block content %}
<div class="container mt-5">
    <div class="card p-5 shadow-lg">
        <h2 class="text-center mb-4">Crear evento en calendario</h2>
        <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Fila para Evento y Fecha -->
        <div class="row">
          <!-- Campo Evento -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.evento.id_for_label }}" class="form-label">Evento</label>
            {% render_field form.evento class="form-select" %}
          </div>
          <!-- Campo fecha -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.fecha.id_for_label }}" class="form-label">Fecha</label>
            {% render_field form.fecha class="form-control"  %}
          </div>
        </div>

        <!-- Fila para Titulo y Descripcion -->
        <div class="row">
          <!-- Campo Titulo -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.titulo.id_for_label }}" class="form-label">Titulo</label>
            {% render_field form.titulo class="form-control" %}
          </div>
          <!-- Campo Descrpcion -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripcion</label>
            {% render_field form.descripcion class="form-control" placeholder="Ingrese breve descripcion sobre el evento" %}
          </div>
        </div>

        <!-- Fila Turno y Autor -->
        <div class="row">
          <!-- Campo Turno -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.turno.id_for_label }}" class="form-label">Turno</label>
            {% render_field form.turno class="form-select" %}
          </div>
          <!-- Campo Autor -->
          <div class="col-md-6 mb-3">
            <label for="{{ form.autor.id_for_label }}" class="form-label">Autor</label>
            {% render_field form.autor class="form-select" %}
          </div>
        </div>


        <!-- Botón de Envío -->
        <div class="d-flex justify-content-end mt-4">
          <button type="submit" class="btn btn-primary btn-lg">
            <i class="bi bi-save me-2"></i>Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <hr>
  
  {% include 'administracion/ver_eventos.html' %}

  <script>
    // Activación de la validación personalizada
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>


{% endblock %}